<form class="form-signin-registrer" id="form-registrer-Company"  data-toggle="validator" method="POST"  action="#" role="form"   style ="height:280px;width:330px;">
 
    <div *ngIf="errorMessage!=null" class="alert alert-danger">
        {{ errorMessage }}
    </div>
    <div class="login-form-1">
    <div >
        <h4>Detalles de su compañía</h4>
    </div>
   
    
   <div class="form-group">
   <input type="text" id="country" />
   </div>
    <div class="form-group" >
        <input id="signupName" name="signupName" required placeholder="Nombre de la compañía" type="text"  maxlength="50" class="form-control"
                 data-error="nombre inválido">
    </div>
    <div class="form-group" >
        <input id="signupAddresCompany" name="signupAddresCompany" required placeholder="Dirección de la compañía" type="text"  maxlength="50" class="form-control"
                 data-error="nombre inválido">
    </div>
    <div class="form-group">
    <input type="text" id="phoneFree" placeholder="Teléfono"  class="form-control"  required>
    </div>
    <div >
        <button (click)="onRegister()" id="signupSubmit" type="submit" class="btn btn-info btn-margin-create btn-block-form">
            Crear
        </button>
    </div>
    <hr>
    <p><a class="a2" [routerLink]="['/home/login']"> <i class="fa fa-fw fa-lock"></i>Login</a></p>
 </div>
</form>

