@font-face {
  font-family: 'flamedic-icons';
  src: url('../fonts/flamedic-icons.eot?49978125');
  src: url('../fonts/flamedic-icons.eot?49978125#iefix') format('embedded-opentype'),
       url('../fonts/flamedic-icons.woff2?49978125') format('woff2'),
       url('../fonts/flamedic-icons.woff?49978125') format('woff'),
       url('../fonts/flamedic-icons.ttf?49978125') format('truetype'),
       url('../fonts/flamedic-icons.svg?49978125#flamedic-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'flamedic-icons';
    src: url('../font/flamedic-icons.svg?49978125#flamedic-icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "flamedic-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-add-two:before { content: '\e800'; } /* '' */
.icon-add:before { content: '\e801'; } /* '' */
.icon-avatar:before { content: '\e802'; } /* '' */
.icon-calendar:before { content: '\e803'; } /* '' */
.icon-edit:before { content: '\e804'; } /* '' */
.icon-file:before { content: '\e805'; } /* '' */
.icon-history:before { content: '\e806'; } /* '' */
.icon-image:before { content: '\e807'; } /* '' */
.icon-list:before { content: '\e808'; } /* '' */
.icon-logout:before { content: '\e809'; } /* '' */
.icon-mail:before { content: '\e80a'; } /* '' */
.icon-media:before { content: '\e80b'; } /* '' */
.icon-new:before { content: '\e80c'; } /* '' */
.icon-next:before { content: '\e80d'; } /* '' */
.icon-option:before { content: '\e80e'; } /* '' */
.icon-password:before { content: '\e80f'; } /* '' */
.icon-patient:before { content: '\e810'; } /* '' */
.icon-preview:before { content: '\e811'; } /* '' */
.icon-save:before { content: '\e812'; } /* '' */
.icon-search:before { content: '\e813'; } /* '' */