
.icon-add-two:before { content: '\e800'; } /* '' */
.icon-add:before { content: '\e801'; } /* '' */
.icon-avatar:before { content: '\e802'; } /* '' */
.icon-calendar:before { content: '\e803'; } /* '' */
.icon-edit:before { content: '\e804'; } /* '' */
.icon-file:before { content: '\e805'; } /* '' */
.icon-history:before { content: '\e806'; } /* '' */
.icon-image:before { content: '\e807'; } /* '' */
.icon-list:before { content: '\e808'; } /* '' */
.icon-logout:before { content: '\e809'; } /* '' */
.icon-mail:before { content: '\e80a'; } /* '' */
.icon-media:before { content: '\e80b'; } /* '' */
.icon-new:before { content: '\e80c'; } /* '' */
.icon-next:before { content: '\e80d'; } /* '' */
.icon-option:before { content: '\e80e'; } /* '' */
.icon-password:before { content: '\e80f'; } /* '' */
.icon-patient:before { content: '\e810'; } /* '' */
.icon-preview:before { content: '\e811'; } /* '' */
.icon-save:before { content: '\e812'; } /* '' */
.icon-search:before { content: '\e813'; } /* '' */