<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top bar-secure-home" role="navigation" style="margin-bottom: 0;height:150px">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">
             <div class="logo">
             <img src="/../assets/img/logo-flamedic.png" alt="Logotipo APR2" 
             style="margin-left: 50px;"  width=15% height=20%></div>
             </a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right ">
        <li class="dropdown">
        <form class="navbar-search pull-left search-secure-home">
        <div class="form-group">
                <div class="icon-addon addon-sm">
                 <label for="search-secure" class="fa fa-search fa-fw icons-color" rel="tooltip" title="email"></label>
                    <input type="text" placeholder="Buscar" class="form-control search-query" id="search-secure">
                    
                </div>
               
            </div>
            
            <table class="table table-hover table-striped">
        
        <tr *ngFor="let parameter of parameters" class="active">
            <td>{{ parameter.name.email }}</td>
            <td>{{ parameter.email.value }}</td>
        </tr>

    </table>
            
            
            
        
        </form>
         <a class="dropdown-toggle icons-user-down"  href="#">
          <i class="fa fa-th icons-padding margin-th-search icons-color"></i>
        </a> 
          <a class="dropdown-toggle icons-user-down" data-toggle="dropdown" href="#">
            
                    <i class="fa fa-user fa-fw icons-color"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a [routerLink]="['/securehome/myprofile']"><i class="fa fa-user fa-fw"></i> User
                        Profile</a>
                    </li>
                    <li class="divider"></li>
                    <li><a [routerLink]="['/securehome/logout']"><i class="demo-icon icon-logout"></i> Logout</a>
                    </li>
                </ul>
                
         
         </li>
         
         
            <!-- /.dropdown -->
            <li class="dropdown">
              
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>

        <div class="navbar-default sidebar" style="margin-top:150px; background-color:blue" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" style="background-color:#20a1c7" id="side-menu" >
                    <li>
                    <h4 style="margin-left:16px">Citas</h4>
                        <a class="menu-text menu-secure-home" [routerLink]="['/securehome/myprofile']"><i class="fa fa-th-list fa-fw"></i>Lista</a> 
                         <a [routerLink]="['/securehome/myprofile']" class="menu-secure-home"><i class="fa fa-calendar fa-fw"></i>Calendario</a>  
                    </li>
                    <li>
                       <h4 style="margin-left:16px">Pacientes</h4>
                        <a [routerLink]="['/securehome/jwttokens']" class="menu-secure-home"><i class="fa fa-th-list fa-fw"></i> Lista</a>
                        <a [routerLink]="['/securehome/jwttokens']" class="menu-secure-home"><i class="fa fa-plus-circle fa-fw"></i> Nuevo</a>
                    </li>
                    <li>
                        <h4 style="margin-left:16px">Doctores</h4>
                        <a [routerLink]="['/securehome/useractivity']" class="menu-secure-home"><i class="fa fa-plus-circle fa-fw"></i> Nuevo</a>
                    </li>
                     <li>
                        
                     <a [routerLink]="['/securehome/logout']" class="menu-secure-home"><i class="fa fa-power-off fa-fw"></i>Cerrar sesión</a>
                    </li>
                    
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">

                    <router-outlet></router-outlet>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
