
.logo{
    
    font-family:"poppins-light";
    
}


.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    background-color: white;
    max-height:500px;
}
.form-signin-registrer {
    max-width: 330px;
    padding: 7px;
    margin: 0 auto;
    background-color: white;
    max-height:40%;
    margin-top:3%;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    font-family:"poppins-light";
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-left:20px;
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    
}
.form-signin input[type="text"] {
    margin-left:20px;
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    
}
.form-signin input[type="datepicker"] {
    margin-left:20px;
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    font-size:10px;
    
}

.form-signin input[type="password"] {
    margin-left:20px;
    margin-top:15px;
    margin-bottom: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
/*=== 3. FORM LOGIN TEST ===*/

a {
  color: #aaaaaa;
  transition: all ease-in-out 200ms;
}
a:hover {
  color: #333333;
  text-decoration: none;
}
/*=== 3. Text Outside the Box ===*/
.etc-login-form {
  color: #919191;
  font-size:10px;
  padding: 1px 60px;
  margin-left:55px;
}
.etc-login-form p {
  margin-bottom: 5px;
}
/*=== 4. Main Form ===*/
.login-form-1 {
  max-width: 300px;
  border-radius: 5px;
  display: inline-block;
}
.main-login-form {
  position: relative;
}
.login-form-1 .form-control {
  border: 0;
  box-shadow: 0 0 0;
  border-radius: 0;
  background: transparent;
  color: #555555;
  padding: 4px 0;
  font-weight: normal;
  height:auto;
}
.login-form-1 .form-control::-webkit-input-placeholder {
  color: #28a4c9;
  font-size: 12px;
  font-weight:normal;
  padding:0px;
  font-family : "poppins-light";
}
.login-form-1 .form-control:-moz-placeholder,
.login-form-1 .form-control::-moz-placeholder,
.login-form-1 .form-control:-ms-input-placeholder {
  color: #28a4c9;
}
.login-form-1 .form-group {
  margin-bottom: 0;
  border-bottom: 1px solid #5bc0de;
  padding-right: 20px;
  position: relative;
}
.login-form-1 .form-group-register {
  margin-bottom: 0;
  border-bottom: 0px solid #5bc0de;
  padding-right: 20px;
  position: relative;
}
.login-form-1 .form-group:last-child {
  border-bottom: 0;
}
.login-group {
  background: #ffffff;
  color: #999999;
  border-radius: 8px;
  padding: 10px 20px;
}
.login-group-checkbox {
  padding: 5px 0;
}
/*=== 5. Login Button ===*/
.login-form-1 .login-button {
  position: absolute;
  right: -25px;
  top: 50%;
  background: #ffffff;
  color: #999999;
  padding: 11px 0;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  border: 5px solid #efefef;
  border-radius: 50%;
  transition: all ease-in-out 500ms;
}
.login-form-1 .login-button:hover {
  color: #555555;
  transform: rotate(450deg);
}
.login-form-1 .login-button.clicked {
  color: #555555;
}
.login-form-1 .login-button.clicked:hover {
  transform: none;
}
.login-form-1 .login-button.clicked.success {
  color: #2ecc71;
}
.login-form-1 .login-button.clicked.error {
  color: #e74c3c;
}

.btn-block-form{
    display: block;
    width: 70%;
    margin-left:18%;
    margin-top:20px;
    
}
.btn-block-otros{
    display: block;
    width: 50%;
    margin-left:0%;
    margin-top:-15px;
}
.btn-block-register{
    display: block;
    width: 70%;
    margin-left:18%;
    margin-top:-15px;
    
    
}
a{
    text-decoration:underline;
    margin-left:-3%;
}

a .a2{
    text-decoration:none;
    margin-left:1%;
}
.alert {
    padding: 2px;
    margin-bottom: 0px;
    margin-top:3px;
    font-size:12px;
    font-weight:normal;
    text-align:center;
}
.btn-info-register {
    color: #2e6da4;
    background-color: #ccc;
    /* border-color: #46b8da; */
} 
.btn-info-otros {
    color: #2e6da4;
    background-color: #ccc;
    /* border-color: #46b8da; */
} 

.input-group-addon {
    padding: 0px 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #2e6da4;
    text-align: left;
    border-radius: 4px;
    background-color: white;
    border: none;
    position:fixed;
    margin-top:13px;
}  

/*Form Register */

.createuser{
    
    margin-left:-60%;
    font-size:12px;
}
.account-existe{
    
    margin-left:-60%;
    font-size:10px;
}
.btn-margin-create{
    margin-top:5px;
}
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox]{
    position: absolute;
    margin-top: 4px\9;
    margin-left: -10px;
    margin-top: -10%;
}
.checkbox{
    
    margin-bottom:-35px;
}
/*Secure Home */
.sidebar ul li{
    color:#fcf8e3;
}
#a .menu-text{
    
    color:#fcf8e3;
}
.nav>li>a {
  color: #f5f5f5;
  text-decoration:none;
 
}
.nav>li>a .icons-user-down{
    margin-left:200px;
}
.menu-secure-home{
    margin-left:18px;
}
.nav>li>a:focus, .nav>li>a:hover{
    
    color:#2aa3d1;
}
.icons-color{
    color:#337ab7;
     
}
.icons-padding{
    padding-left:50px;
     
}
.icons-user-down{
    margin-left: 750px;
    margin-top: -50px;
}
.search-secure-home{
    
    margin-right:280px;
    margin-top:-50px;
}
.search-query{
    
    width: 600px;
    margin-top: 10px;
}
.sidebar ul li a.active{
    background-color:none;
}

.input-group .icon-addon .form-control {
    border-radius: 0;
}

.icon-addon {
    position: relative;
    color: #555;
    display: block;
}

.icon-addon:after,
.icon-addon:before {
    display: table;
    content: " ";
}

.icon-addon:after {
    clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon, 
.icon-addon.addon-md .fa,
.icon-addon .fa {
    position: absolute;
    z-index: 2;
    left: 10px;
    font-size: 14px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px
}

.icon-addon.addon-lg .form-control {
    line-height: 1.33;
    height: 46px;
    font-size: 18px;
    padding: 10px 16px 10px 40px;
}

.icon-addon.addon-sm .form-control {
    height: 30px;
    padding: 5px 10px 5px 28px;
    font-size: 12px;
    line-height: 1.5;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
    font-size: 18px;
    margin-left: 0;
    left: 11px;
    top: 4px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
    padding-left: 30px;
    float: left;
    font-weight: normal;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
    margin-left: 0;
    font-size: 12px;
    left: 5px;
    top: 8px
}
.margin-th-search{
    
    margin-left:-150px;
}
