<form class="form-signin-registrer " id="form-signin-registrer"  data-toggle="validator" method="POST"  action="#" role="form"   style ="height:315px;width:330px;">
 
    <div *ngIf="errorMessage!=null" class="alert alert-danger">
        {{ errorMessage }}
    </div>
    <div class="login-form-1">
    <div >
        <h4>Información de contacto</h4>
    </div>
   
     <div class="form-group-register">
    
   </div>
    <div class="form-group" >
        <input id="signupName" name="signupName" required placeholder="Nombre(s)" type="text"  maxlength="50" class="form-control"
               [(ngModel)]="registrationUser.name" [ngModelOptions]="{standalone: true}"  data-error="nombre inválido">
    </div>
    <div class="form-group">
                <input  type="email" class="form-control" id="signupEmail"  data-error="dirección de correo inválida" required
                          placeholder="Correo electrónico" [(ngModel)]="registrationUser.email" [ngModelOptions]="{standalone: true}">       
    </div>
    <div class="form-group">
    <input type="tel" id="phone" [(ngModel)]="registrationUser.phone" [ngModelOptions]="{standalone: true}" required>
    </div>
    
    <div class="form-group">
        <input id="signupPassword" type="password" maxlength="25" class="form-control" required
               placeholder="Contraseña - al menos 8 caracteres" length="40" [(ngModel)]="registrationUser.password"
               [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
         <input type="password" placeholder="Confirmar contraseña" class="form-control" id="inputPasswordConfirm" data-match="#signupPassword" data-match-error="Whoops, these don't match"  required>
         
    </div>
    <div >
        <button (click)="onRegister()" id="signupSubmit" type="submit" class="btn btn-info btn-margin-create btn-block-form">
            Crear
        </button>
    </div>
    <hr>
    <p><a class="a2" [routerLink]="['/home/login']"> <i class="fa fa-fw fa-lock"></i>Login</a></p>
 </div>
</form>

