<!-- LOGIN FORM -->

<form class="form-signin" method="POST" action="#" role="form">
<div class="text-center" style="padding:50px 0">

  <div class="logo"><img src="/../assets/img/logo-flamedic.png" alt="Logotipo APR2" width=50% height=50%></div>
    <div class="login-form-1">
        <form id="login-form" class="text-left">
            <div class="login-form-main-message"></div>
            <div class="main-login-form">
                <div class="login-group">
                    <div class="form-group">
                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                        <label for="signupEmail" class="sr-only">Username</label>
                        <input required type="email" class="form-control" id="signupEmail" name="lg_username"
                          placeholder="Correo electrónico" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                        <label for="signupPassword" class="sr-only">Password</label>
                        <input required type="password" class="form-control " id="signupPassword" 
                        name="signupPassword" placeholder="Contraseña" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group"> 
                    </div>
                    <div *ngIf="errorMessage!=null" class="alert alert-danger">
                            {{ errorMessage }}
                    </div>  
                </div>
                
                <div >
                    <button (click)="onLogin()" id="signupSubmit" type="submit" class="btn btn-info btn-block-form ">
                        Ingresar
                    </button>
                </div>
                <div >
                    <a class ="login" [routerLink]="['/home/register']"> <button id="registerSubmit"  type="submit" class="btn .btn-info-register btn-block-register ">
                        Registrar
                    </button>
                    </a>
                </div>
            </div>
            <div class="etc-login-form">
                <p><a [routerLink]="['/home/forgotPassword']">Olvide mi contraseña</a></p>
               <!-- <p>new user? <a href="#">create new account</a></p>-->
            </div>
        </form>
    </div>
    <!-- end:Main Form -->


    <!-- end:Main Form -->
</div>
</form>