<form class="form-signin" method="POST" action="#" role="form">
    <div class="form-group">
        <h4>Olvidé mi contraseña</h4>
    </div>
    <div *ngIf="errorMessage!=null" class="alert alert-danger">
        {{ errorMessage }}
    </div>
    <div class="login-form-1">
    <div class="form-group">
        <input id="verificationCode" placeholder="Verificar código" type="verificationCode" maxlength="50" class="form-control"
               [(ngModel)]="verificationCode" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
        
        <input id="newPassword" placeholder="Nueva contraseña" type="password" maxlength="25" class="form-control"
               length="40" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
    </div>
    <div >
        <button (click)="onNext()" id="signupSubmit" type="submit" class="btn btn-info btn-margin-create btn-block-form">
            Cambiar contraseña
        </button>
    </div>

    <hr>
    <p><a [routerLink]="['/home/resendCode']"> <i class="fa fa-fw fa-group"></i> Volver</a>
    </p>
    </div>
</form>
